.Rproj.user
.Rhistory
.RData
.Ruserdata
.claude
CLAUDE.md
*.lnk
* alias
*.qgs
*.qgs~
*.qgz
*.html
*.svg
*.png
*.aux
notebook.md
data
output/
ms/submission/1_coauthors
ms/submission/2_reviewers
ms/submission/zipped_figures*